<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ entry[1] }}</title>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
</head>
<body>
	<script src="{{ url_for('static', filename='parse_ref.js') }}"></script>
    <h1>{{ entry[1] }}</h1>
    <div>{{ latex[3] | safe }}</div>
    <a href="{{ url_for('table_of_contents') }}">Back to Table of Contents</a>
</body>
</html>

