<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encyclopedia of Math</title>
</head>
<body>
    <h1>Welcome!</h1>
    <form action="/search" method="POST">
		<label for="search_query">Search:</label>
        <input type="text" id="search_query" name="search_query">
        <button type="submit">Search</button>
    </form>
    <nav>
        <ul>
            <li><a href="/toc">Table of Contents</a></li>
            <li><a href="/random">Random Page</a></li>
        </ul>
    </nav>
</body>
</html>

